:root {
  --main-color: #6015ab;
  --main-foreground-color: #EEEEEE;

  --main-variant-color: #7d0abf;
  --main-foreground-detail: #eeeeee48;

  --secondary-color: #0abfad;

  background: var(--main-color);
}

.app-container {
  height: 100%;

  color: var(--main-foreground-color);
  font-family: Arial, Helvetica, sans-serif;

  padding: 0 0 4vh 0;
}

.app-container a {
  color: var(--main-foreground-color);
}

.header-container {
  display: flex;
  
  align-items: center;

  width: 100%;
  height: 56px;

  padding: 0 44px;
  box-sizing: border-box;

  box-shadow: 0 12px 12px -6px #4444445d;

  background-color: var(--main-color);
}

.header-container .logo-container {
  font-size: 24pt;

  cursor: pointer;

  margin: 0 32px 0 0;
}

.logo-container a {
  text-decoration: none;
}

.header-container nav a {
  margin: 0 16px;
}

.app-heading-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 20vh;
}

.page-description-container {
  padding: 0 8vw;

  display: flex;
  justify-content: center;
  align-items: center;

}

.page-description-wrap {
  padding: 1vh 3vw;
  box-shadow: 0 4px 4px -2px #44444444;

  font-size: 18pt;
  background: var(--main-variant-color);
  border-radius: 14px;
}

.page-container {
  padding: 0 16vw;
}

.page-container-wrap {
  padding: 2vh 4vw 4vw 6vh;
  border: 1px solid var(--main-foreground-detail);
  border-radius: 16px;
}
