:root {
  --background-m1: #FAFAFA;
  --background-m2: #EFEFEF;

  --background-m3: #CECECE;

  --foreground-m1: #212121;
  --foreground-m2: #333333;
}

.app-container {
  height: 100%;

  color: var(--foreground-m1);
  background: var(--background-m1);
}

.header-container {
  display: flex;
  
  align-items: center;

  width: 100%;
  height: 56px;

  padding: 0 44px;
  box-sizing: border-box;

  box-shadow: 0 12px 12px -6px #4444445d;

  background: var(--background-m3);
}

.header-container .logo-container {
  font-size: 24pt;
  color: var(--foreground-m1);
  font-weight: 600;

  cursor: pointer;
  margin: 0 32px 0 0;
}

.logo-container a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  gap: 16px;
}
