.blog-post-page-links {
  display: flex;
  gap: 12px;
}

.new-post-form {
  margin: 24px 0;
  padding: 0 120px;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.new-post-form input[type="text"], button {
  font-size: 16pt;
  padding: 2.5px 6px;
}
