.signup-form-container {
  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 28px;
}

.input-fields-container {
  margin: 0 0 0 72px;
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  gap: 32px;
}

.signup-form-container input[type="text"],input[type="password"],input[type="tel"],input[type="select"],input[type="email"] {
  font-size: 16pt;
  padding: 6px 4px;
}

label {
  display: flex;
  
  align-items: stretch;
}

label .caption {
  position: absolute;
  font-size: 14px;

  margin: -22px 0;
}

.submit-button {
  font-size: 14pt;

  width: 128px;
}

label .button-pass {
  margin-left: 16px;

  background: none;
  font-size: 14pt;
  border: none;
  cursor: pointer;
}

.button-pass:active {
  background: var(--background-m3);
}
